<div class="row">
  <!-- table pannel start -->
  <div class="col-sm-8">
    <div class="body border">
      <div class="container">
        <div class="details">
          <h1>CI and E2E summary for commits</h1>
          <h2>Summary of build status and E2E pipeline status on OpenEBS repository</h2>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">
            <h3 style="color:white">BRANCH</h3>
            <h4 style="font-size: 2em">Master</h4>
            <h3 *ngIf="undefined !== buildData" style="color:white">Builds in last one week: {{ masterBuildsCount(buildData.dashboard) }}
            </h3>
          </a>
        </li>
        <li style="pointer-events:none;" class="nav-item">
          <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">
            <!-- <h3>BRANCH</h3> -->
            <!-- <h4>v0.7</h4> -->
            <!-- <h3>Commits in last one week: _</h3> -->
          </a>
        </li>
        <li style="pointer-events:none; cursor:pointer;" class="nav-item">
          <a class="nav-link" href="#references" role="tab" data-toggle="tab">
            <!-- <h3>BRANCH</h3> -->
            <!-- <h4>v0.7.1</h4> -->
            <!-- <h3>Commit in last one week: _</h3> -->
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="table container tab-content scrollbar" id="scrollbar">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <table id="data" class="table table-borderless">
            <thead>
              <tr class="text-center">
                <th>Trigger</th>
                <th>Build</th>
                <th style="text-align:center">E2E Pipelines</th>
              </tr>
              <tr class="text-center">
                <td></td>
                <td></td>
                <td class="d-flex align-items-center justify-content-center" >
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/gke.svg">
                    <p style="font-size: 13px;">GKE</p>
                  </span>
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/aks.svg">
                    <p style="font-size: 13px;">AKS</p>
                  </span>
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/eks.svg">
                    <p style="font-size: 13px;">EKS</p>
                  </span>
                </td>
              </tr>
            </thead>           
            <tbody *ngIf="undefined !== (gkeData && buildData && eksData && aksData)">
              <tr [ngClass]="{'row_color': i==rowCount()}" class="text-center" *ngFor="let post of gkeData.dashboard; let i = index" [attr.data-index]="i">
                <td>
                  <a style="cursor:pointer; color:#5C93E8" (click)="detailPannel(i, gkeData.dashboard, buildData.dashboard, 'gke');">
                    {{ getCommitName(i, buildData.dashboard) }}/{{ getCommit(i, buildData.dashboard) | slice:0:8 }}
                  </a>
                  <p style="font-size: 12px;">Commit: {{ updated(i, buildData.dashboard) }}</p>
                </td>

                <td>
                  <button [ngClass]="buttonStatusClass(buildStatus(i, buildData.dashboard))" (click)="clickit(buildWeburl(i, buildData.dashboard)); detailPannel(i, gkeData.dashboard, buildData.dashboard, 'gke'); ">
                    <i style="font-size:13px" [ngClass]="iconClass(buildStatus(i, buildData.dashboard))"></i>
                    <a style="margin-left:5px; font-size:15px">{{buildStatus(i, buildData.dashboard)}}</a>
                  </button>
                </td>

                <td class="d-flex justify-content-center">
               
                    <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, gkeData.dashboard) }}" (click)="detailPannel(i, gkeData.dashboard, buildData.dashboard, 'gke');"
                    [ngClass]="{'highlight': (status == 1 && i==rowCount())}" [ngStyle]="{'pointer-events': pipelineTooltip(i, gkeData.dashboard) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                    <i *ngIf="pipelineTooltip(i, gkeData.dashboard) == 'running';else donutGraphGke" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i> 
                    <ng-template #donutGraphGke>
                      <i *ngIf="pipelineTooltip(i, gkeData.dashboard) == 'pending';else statusGraphGke" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                      <ng-template #statusGraphGke>
                        <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                          <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                          <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                            stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                          <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                            stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, gkeData.dashboard)"
                            stroke-dashoffset="22.5"></circle>
                        </svg>
                  </ng-template>
                  </ng-template>
                      </span>

                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, aksData.dashboard) }}" (click)="detailPannel(i, aksData.dashboard, buildData.dashboard, 'aks');"
                  [ngClass]="{'highlight': (status == 2 && i==rowCount())}" [ngStyle]="{'pointer-events': pipelineTooltip(i, aksData.dashboard) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                  <i *ngIf="pipelineTooltip(i, aksData.dashboard) == 'running';else donutGraphAks" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i> 
                  <ng-template #donutGraphAks>
                    <i *ngIf="pipelineTooltip(i, aksData.dashboard) == 'pending';else statusGraphAks" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                      <ng-template #statusGraphAks>
                      <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                        <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                        <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                          stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                        <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                          stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, aksData.dashboard)"
                          stroke-dashoffset="22.5"></circle>
                      </svg>
                </ng-template>
                </ng-template>
                    </span>

                <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, eksData.dashboard) }}" (click)="detailPannel(i, eksData.dashboard, buildData.dashboard, 'eks');"
                [ngClass]="{'highlight': (status == 3 && i==rowCount())}" [ngStyle]="{'pointer-events': pipelineTooltip(i, eksData.dashboard) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                <i *ngIf="pipelineTooltip(i, eksData.dashboard) == 'running';else donutGraphEks" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i> 
                <ng-template #donutGraphEks>
                  <i *ngIf="pipelineTooltip(i, eksData.dashboard) == 'pending';else statusGraphEks" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                      <ng-template #statusGraphEks>
                    <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                      <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                      <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                        stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                      <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                        stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, eksData.dashboard)"
                        stroke-dashoffset="22.5"></circle>
                    </svg>
              </ng-template>
              </ng-template>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <app-lodding-spinners class="row" *ngIf="showSpinnerTable;"></app-lodding-spinners>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
        <!-- <div role="tabpanel" class="tab-pane fade" id="references">ccc</div> -->
      </div>
    </div>
  </div>
  <!-- table pannel End -->


  <!-- Detail pannel start -->
  <div class="col-sm-4 px-0">   
    <div class="detail container border">
        <app-lodding-spinners  *ngIf="showSpinnerDetails; else hideDetailPanel"></app-lodding-spinners>
        <ng-template #hideDetailPanel>
      <div class="text-center">
        <img src="/assets/images/cloud/{{ image }}">
        <h5>{{ name }}</h5>
        <h6>Kubernetes {{ kubernetesVersion }}</h6>
        <button  style="margin-right:4px; margin-top:20px;" type="button" class="btn btn-outline-custom" data-toggle="collapse" href="#gitlabStageToggle" role="button"  aria-controls="gitlabStageToggle"><span
            class="statusbutton gitlabButton">GITLAB STAGES</span></button>
        <button (click)="clickit(log_url)" style="margin-left:4px; margin-top:20px;" type="button" class="btn btn-outline-custom"><span
            class="statusbutton litmusButton">E2E LOGS</span></button>
      </div>

      <div class="collapse" id="gitlabStageToggle">
        <hr>
        <table class="px-3 table table-borderless">
          <thead>
            <tr style="border-bottom: none">
              <th style="padding: 0px;">
                <p style="font-size:11px; text-align: left; text-decoration: underline; padding-bottom:10px;">GITLAB
                  STAGES</p>
              </th>
              <th style="padding: 0px;">
                <p style="font-size:11px; text-align: center; text-decoration: underline; padding-bottom:10px;width:90%">STATUS</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="clusterSetupStatus != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER SETUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(clusterSetupStatus)'  >{{ clusterSetupStatus }}</span></td>
            </tr>
            <tr *ngIf="providerInfraSetup != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">PROVIDER INFRA SETUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(providerInfraSetup)'  >{{ providerInfraSetup }}</span></td>
            </tr>
            <tr *ngIf="statefulAppDeploy != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">STATEFUL APP DEPLOY</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(statefulAppDeploy)'  >{{ statefulAppDeploy }}</span></td>
            </tr>
            <tr *ngIf="appFunctionTest != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP FUNCTION TEST</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(appFunctionTest)'  >{{ appFunctionTest }}</span></td>
            </tr>
            <tr *ngIf="appChaosTest != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP CHAOS TEST</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(appChaosTest)'  >{{ appChaosTest }}</span></td>
            </tr>
            <tr *ngIf="appDeprovision != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP-DEPROVISION</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(appDeprovision)'  >{{ appDeprovision }}</span></td>
            </tr>
            <tr *ngIf="clusterCleanup != 'n/a'" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER CLEANUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                [ngClass]='gitlabStageBuildClass(clusterCleanup)'  >{{ clusterCleanup }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div>
            <div class="star-ratings-css">
              <div style="padding-left:8px;" class="star-ratings-css-top" [style.width]=rating><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div style="padding-left:8px;" class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            <p style="font-size:13px; padding-top:8px;">RATING</p>
          </div>
        </div>
        <div class="col-sm-12 d-flex" style="padding-top:10px;">
          <div class="w-25">
            <h5 style="color:black;font-size:15px;">{{ totalJobs }}</h5>
            <h6 style="font-size:13px;">TOTAL</h6>
          </div>
          <div class="w-25">
            <h5 style="color:blue;font-size:15px;">{{ executedJobs }}</h5>
            <h6 style="font-size:13px;">EXECUTED</h6>
          </div>
          <div class="w-25">
            <h5 style="color:green;font-size:15px;">{{ passedJobs }}</h5>
            <h6 style="font-size:13px;">PASSED</h6>
          </div>
          <div class="w-25">
            <h5 style="color:red;font-size:15px;">{{ failedJobs }}</h5>
            <h6 style="font-size:13px;">FAILED</h6>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <h6><img height=55px; src="/assets/images/icons/pull-request.svg"></h6>
          <h6><a href="{{ pullRequest }}" target="_blank">Pull Request</a></h6>
        </div>
        <div class="col-sm-8">
          <h6 style="margin-top:10px;">{{ commitUser }}</h6>
          <h6 class="scrollbar" id="scrollbar" style="font-size:14px; height:50px;">{{ commitMessage }}</h6>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4 text-center">
          <a style=" cursor: pointer; color: #007bff" target="_blank" href="https://github.com/openebs/e2e-infrastructure/blob/master/baseline/baseline">Baseline
            Images</a>
        </div>
        <div class="col-sm-8 text-center">
          <p>Container images used to run this pipeline</p>
        </div>
      </div>
    </ng-template>
    </div>
</div>